pyrogram
tgcrypto
telegraph
telethon
telegram
requests==2.26.0
lyricsgenius
youtube_dl
youtube_search_python
youtube_search
ffmpeg-python
ffmpeg
yt-dlp
googletrans==3.1.0a0
gtts
aiohttp==3.7.4
aiofiles
imdbpy
pyTelegramBotAPI
python-decouple==3.3
