pyrogram
tgcrypto
telegraph==1.4.1
telethon
telegram
requests==2.26.0
lyricsgenius
youtube_dl
youtube_search_python
ffmpeg-python
ffmpeg
yt-dlp
googletrans==3.1.0a0
gtts
aiohttp==3.7.4
aiofiles
cryptg
py-youtube
ytthumb
play-scraper
glitchart
youtube_search
asyncio

