pyrogram
tgcrypto
telegraph
telethon
telegram
requests
lyricsgenius
youtube_dl
youtube_search_python
youtube_search
ffmpeg-python
ffmpeg
yt-dlp
googletrans
gTTS
aiohttp==3.7.4
async-lru==1.0.2
PySocks==1.7.1
